extends layout

block content
  h1= title
  - let results = [{bird_name:"Pigeon", color: "Blue", speed: 50},{bird_name:"Sparrow", color: "Brown", speed: 20},{bird_name:"Nightingale", color: "yellow", speed: 55}];

  div(class="container-fluid")
    div(class="row")
      each bird,index in results
        div(class="col-sm-2" onclick =`buy(${index})`) #{bird.name}, #{bird.color}, #{bird.speed}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }


          