extends layout
block content
 h1= title
 - let birdid = toShow._id
 - let bird_name  = toShow.bird_name
 - let color = toShow.color
 - let speed = toShow.speed
 div
 div.row
 div(class='birdAttr mr-3') bird ID is:
 div #{birdid}
 div.row
 div(class='birdAttr mr-3') bird name is:
 div #{bird_name}
 div.row
 div(class='birdAttr mr-3') bird color is:
 div #{color}
 div.row
 div(class='birdAttr mr-3') bird speed is:
 div #{speed}